body{
    font-family: 'Montserrat-Thin', sans-serif;
    
}
#title{
    background-color: #ff4c68;
    color: #fff;
}

#title .container-fluid{
    padding:3% 15%;
}
.container-fluid{
    padding:7% 15%;
}

h1{
    font-family: 'Montserrat', sans-serif;
    
    line-height: 1.5;
   
}

/* Navbar Styling*/
.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}

.nav-item{
    margin: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
}

/* Download Button Styling */

.download-btn{
    margin: 5% 3% 5% 0;
}

/* Image styling */
.phone-img{
    width: 60%;
    transform:translate(40px,0) rotate(25deg);
    position: absolute;
}

/* Feature Styling */
.feature-icon{
    color: #ef8172;
    font-size: 4rem;
    padding: 5%;
}
.feature-icon:hover{
    color: #f35540;
}
.feature-box{
    text-align: center;
}

.feature-box h3{
    font-family: 'Montserrat-bold', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
    width: 80%;
    margin: auto;
    font-weight: lighter;
    color: rgb(121, 112, 112);
}

#features{
    padding:10% 5%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

#testimonials{
    text-align: center;
    background-color: #ef8172 ;
    
    
}
h2{
    font-family: 'Montserrat-bold', sans-serif;
    font-weight: bolder;
    color: #fff;
    font-size: 3rem;
    line-height: 1.5;
    padding: 0 5%;
}

.testimonials-img{
    width: 10%;
    border-radius: 100%;
    margin: 50px;
    
}

#press{
    background-color: #ef8172 ;
    padding-bottom: 3%;
    text-align: center;
}
.press-img{
    width: 15%;
    margin: 20px 20px 50px;
}


/* Pricing */
#pricing{
    padding:100px;
    text-align:center;
}
.pricing-card{
    padding:3% 2%;
}

#pricing h2{
    font-family: 'Montserrat-bold', sans-serif;
    font-weight: 900;
    color: black;
    font-size: 3rem;
    line-height: 1.5;
    padding: 0 5%;
}
.card-header h3{
    color:black ;
}
/* cta styling */
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #fff;
}
#cta{
    background-color:  #ff4c68;
}
.cta-box{
    text-align: center;
    padding:5% 15%;
}
/* Footer  */
#footer{
    text-align: center;
}

.foot-icon{
    margin:20px 10px;
}
#footer p{
    font-size: 1rem;
    padding-top: 1rem;
}
@media (max-width:992px){
    .phone-img{
        position: static;
        transform: rotate(0deg);
    }
    #title{
        text-align: center;
    }
}